In [36]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from webdriver_manager.chrome import ChromeDriverManager

In [37]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\John\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

In [8]:
url = 'https://mars.nasa.gov/news/'

browser.visit(url)

html = browser.html

news_bs= bs(html, 'html.parser')

In [14]:
title = news_bs.find_all('div', class_='content_title')[0].text
title_p = news_bs.find_all('div', class_='article_teaser_body')[0].text

print(title)
print('-------------------')
print(title_p)

Mars Now
-------------------
Pictures from NASA’s latest six-wheeler on the Red Planet suggest the area’s history experienced significant flooding events.

In [16]:
jpl_url = 'https://www.jpl.nasa.gov'
img_url = 'https://www.jpl.nasa.gov/images?query=mars'

browser.visit(img_url)

html = browser.html

img_bs = bs(html, 'html.parser')

In [18]:
image_path = img_bs.find_all('img')[2]["src"]
feat_img_url = jpl_url + image_path
print(feat_img_url)

https://www.jpl.nasa.govhttps://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA15964.2e16d0ba.fill-400x400-c50.jpg

In [38]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

browser.visit(mars_facts_url)

html = browser.html

mfacts_bs= bs(html, 'html.parser')

In [27]:
fact_table = mfacts_bs.find_all('table', class_='table table-striped')[0].text

print(fact_table)

Equatorial Diameter:
6,792 km


Polar Diameter:
6,752 km


Mass:
	6.39 × 10^23 kg (0.11 Earths)


Moons:
	2 ( Phobos  &  Deimos )


Orbit Distance:
	227,943,824 km (1.38 AU)


Orbit Period:
	687 days (1.9 years)


Surface Temperature:
	-87 to -5 °C


First Record:
	2nd millennium BC


Recorded By:
	Egyptian astronomers

In [28]:
html_fact_table = pd.read_html(mars_facts_url)
html_fact_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [32]:
mars_fact_df = html_fact_table[1]
mars_fact_df.columns = ["Decription", "Value"]
mars_fact_df

             Decription                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [34]:
mfacts_html_table = mars_fact_df.to_html()
print(mfacts_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Decription</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [39]:
hem_url = 'https://marshemispheres.com/'


browser.visit(hem_url)

hem_html = browser.html

hemispheres_bs = bs(hem_url, 'html.parser')

C:\Users\John\anaconda3\lib\site-packages\bs4\__init__.py:417: MarkupResemblesLocatorWarning: "https://marshemispheres.com/" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(